<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hola mundo 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container name="Soy hola mundo 1"></app-explore-container>
</ion-content>
